.option{
    border: 1px solid;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 3px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}
.option:hover, .option.active{
    background: white;
    color: #007C5B;
}
td{
    text-align: center;
}
table{
    width: 100%;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
}
.container{
    background: #007C5B;
    height : 91%;
    padding: 20px;
    position:relative;
}
.parentContainer{
    background: #5A1D1B;
    padding: 30px;
    position: absolute;
    width: 92vh;
    height: 93%;
}
.nextBtn{
    position: absolute;
    bottom: 14px;
    right: 20px;
}
.appContainer{
    height: 461px;
    margin-left: 16px;
    margin-top: 43px;
    position: relative;
}